.layout {
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
mat-toolbar {
  border-bottom: 2px solid #2B2B2B; 
}
mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12); 
}
.contenedor {
  height: 90vh;
   background: #2B2B2B;
  color: white;

}

.contenido-vertical {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  overflow-y: auto;
}

.bloque {
  background: #af4b4b;
  padding: 16px;
  border-radius: 8px;
}
